:root {
  --white: white;
  --alley-component-library-blue--100: #eceefe;
  --midnight-blue: #0d102b;
  --black: #3d2f2f;
  --alley-component-library-blue--900: #5167f6;
  --alley-component-library-gray--900: #131316;
  --alley-component-library-gray--700: #383942;
  --alley-component-library-neutral--black: black;
  --alley-component-library-gray--500: #5e606e;
  --alley-component-library-neutral--off-white: #f4f4f6;
  --alley-component-library-blue--800: #6478f7;
  --alley-component-library-blue--700: #7788f8;
  --servicepadd: 0px;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

body {
  background-color: var(--white);
  color: #333;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 62px;
  font-weight: 700;
  line-height: 74px;
}

.nav-container {
  width: 100%;
  max-width: 1340px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
}

.navbar {
  background-color: #0e0e0e;
  margin-top: 0;
}

.nav-link {
  color: var(--white);
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  transition: all .2s, border-width .2s cubic-bezier(.165, .84, .44, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav-link:hover {
  color: var(--white);
  background-color: #1e1e1e;
  border-radius: 11px;
  font-weight: 500;
}

.nav-link.w--current {
  color: var(--white);
  align-items: center;
  padding: 10px;
  display: flex;
}

.nav-link.w--current:hover {
  color: var(--alley-component-library-blue--100);
  background-color: #1e1e1e;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.nav-link.w--current:focus {
  background-color: #1e1e1e;
  border-radius: 11px;
}

.body {
  color: #0d102b;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.hero {
  color: #320000;
  background-color: rgba(0, 0, 0, 0);
  background-image: linear-gradient(to right, #000, rgba(255, 255, 255, 0) 100%, #fd2d2d), url('../images/AdobeStock_630302641.jpeg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 0;
  display: block;
  overflow: hidden;
}

.hero.particulier, .hero.part {
  background-image: linear-gradient(to right, #000, rgba(255, 255, 255, 0) 100%, #fd2d2d), url('../images/Firefly-Paintworks-50900.jpg');
}

.container {
  max-width: 1340px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.hero-content {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: flex-start;
  display: block;
}

.hero-left-wrapper {
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  display: flex;
}

.hero-right-wrapper {
  align-items: center;
  display: flex;
}

.hero-heading {
  max-width: 600px;
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
  overflow: hidden;
}

.hero-image-wrapper {
  width: 100%;
  max-height: 713px;
  max-width: 730px;
  position: relative;
  overflow: hidden;
}

.hero-image {
  color: #320000;
  -webkit-text-stroke-color: #320000;
  padding-left: 27px;
}

.hero-text {
  max-width: 420px;
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.primary-button {
  border: 1px none var(--midnight-blue);
  color: var(--white);
  background-color: #fff;
  border-radius: 14px;
  padding: 16px 24px;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.gallery {
  color: #320000;
  -webkit-text-stroke-color: #320000;
  padding-top: 74px;
  overflow: hidden;
}

.gallery-header {
  clear: none;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  position: static;
}

.shape-wrapper {
  width: 165px;
  height: 190px;
  position: absolute;
  top: 0;
  right: 62px;
}

.triangle {
  margin-top: 30px;
}

.circle {
  margin-top: 32px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.line {
  height: 118px;
  margin-top: 31px;
  position: absolute;
  top: 50%;
  right: 61px;
  transform: translate(0, -50%);
}

.abstract-line-1 {
  z-index: 0;
  margin-top: 77px;
  position: absolute;
  top: 0;
  left: -45px;
}

.gallery-heading {
  z-index: 6;
  max-width: none;
  color: #000;
  text-align: center;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 84px;
  line-height: 85px;
  display: block;
  position: static;
  transform: translate(0, 86px);
}

.gallery-row-1 {
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 0;
  display: flex;
  transform: translate(0, -68px);
}

.gallary-image-wrapper-1 {
  max-height: 670px;
  max-width: 620px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.gallery-text {
  max-width: 530px;
  color: #000;
  text-align: left;
  margin-bottom: 0;
  font-size: 20px;
  position: relative;
}

.description-wrapper {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  display: flex;
}

.gallery-row-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 75px;
  padding-bottom: 80px;
  display: block;
  position: relative;
}

.gallery-left-wrapper {
  padding-top: 346px;
  position: relative;
}

.image-wrapper-1 {
  width: 100%;
  height: 100%;
  max-height: 743px;
  max-width: 510px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.image-1 {
  width: 100%;
  height: 100%;
  -webkit-text-stroke-color: #320000;
  object-fit: fill;
  border-radius: 20px;
}

.image-wrapper-2 {
  width: 100%;
  max-height: 623px;
  max-width: 620px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}

.gallery-wrapper._1 {
  max-width: 510px;
  position: relative;
}

.gallery-wrapper._2 {
  max-width: 620px;
  align-self: flex-end;
  margin-bottom: 150px;
  position: relative;
}

.gallery-right-wrapper {
  flex-direction: column;
  display: flex;
}

.gallery-name {
  margin-bottom: 20px;
  font-size: 32px;
  line-height: 37px;
}

.abstract-line-2 {
  width: 100%;
  max-width: 508px;
  position: absolute;
  top: 137px;
  left: 0;
}

.abstract-line-3 {
  z-index: -1;
  width: 100%;
  max-height: 241px;
  max-width: 241px;
  position: absolute;
  top: 0%;
  right: -48px;
  transform: translate(0, -50%);
}

.footer {
  padding-top: 130px;
  padding-bottom: 60px;
  font-size: 18px;
  line-height: 21px;
  overflow: hidden;
}

.footer-wrapper {
  grid-column-gap: 20px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 103px;
  display: grid;
}

.footer-brand-image {
  margin-top: -30px;
  margin-left: -7px;
}

.footer-column {
  flex-direction: column;
  align-items: flex-start;
  line-height: 21px;
  display: flex;
}

.footer-text {
  max-width: none;
  margin-bottom: 43px;
  margin-left: 1px;
  line-height: 28px;
}

.footer-nav-label {
  margin-bottom: 40px;
  font-weight: 700;
  line-height: 21px;
}

.footer-nav-link {
  border: 1px solid var(--white);
  color: #54576a;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: color .5s cubic-bezier(.165, .84, .44, 1);
  position: relative;
  overflow: hidden;
}

.footer-nav-link:hover {
  color: #000;
  font-weight: 500;
}

.footer-nav-link._3.text:hover {
  color: #54576a;
  font-weight: 400;
}

.footer-copyright {
  color: #9a9db5;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  display: flex;
}

.rectangle-1 {
  z-index: 1;
  width: 15%;
  height: 79%;
  background-color: var(--white);
  transform-origin: 50% 0;
  position: absolute;
  top: 0;
  left: 0;
}

.rectangle-2 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 50% 0;
  transform-origin: 50% 0;
  position: absolute;
  left: 15%;
  transform: translate(20px);
}

.rectangle-3 {
  z-index: 1;
  width: 30px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 0%;
  transform-origin: 0%;
  position: absolute;
  left: 15%;
  transform: translate(40px);
}

.rectangle-4 {
  z-index: 1;
  width: 20px;
  height: 52px;
  background-color: var(--white);
  perspective-origin: 50% 0;
  transform-origin: 50% 0;
  position: absolute;
  top: 20px;
  left: 15%;
  transform: translate(20px);
}

.rectangle-5 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 100%;
  transform-origin: 100%;
  position: absolute;
  top: 20px;
  left: 15%;
  transform: translate(0);
}

.rectangle-6 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 0 0;
  transform-origin: 0 0;
  position: absolute;
  top: 0;
  left: 0%;
}

.rectangle-7 {
  z-index: 1;
  width: 20px;
  height: 30px;
  background-color: var(--white);
  perspective-origin: 100% 100%;
  transform-origin: 100% 100%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.rectangle-8 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 100% 100%;
  transform-origin: 100% 100%;
  position: absolute;
  bottom: 30px;
  right: 20px;
}

.rectangle-9 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 50% 0;
  transform-origin: 50% 0;
  position: absolute;
  top: 0;
  right: 0;
}

.rectangle-10 {
  z-index: 1;
  width: 40px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 100%;
  transform-origin: 100%;
  position: absolute;
  top: 20px;
  right: 0;
}

.rectangle-11 {
  z-index: 1;
  width: 40px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 0%;
  transform-origin: 0%;
  position: absolute;
  bottom: 0;
  left: 20px;
}

.rectangle-12, .rectangle-13 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 50% 100%;
  transform-origin: 50% 100%;
  position: absolute;
  bottom: 20px;
  left: 0;
}

.rectangle-14 {
  z-index: 1;
  width: 40px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 0%;
  transform-origin: 0%;
  position: absolute;
  bottom: 0;
  left: 20px;
}

.rectangle-15 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 0%;
  transform-origin: 0%;
  position: absolute;
  bottom: 50px;
  left: 32px;
}

.rectangle-16 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 50% 0;
  transform-origin: 50% 0;
  position: absolute;
  top: 0;
  right: 20px;
}

.rectangle-17 {
  z-index: 1;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  perspective-origin: 100%;
  transform-origin: 100%;
  position: absolute;
  top: 20px;
  right: 0;
}

.button-bg {
  width: 100%;
  height: 100%;
  background-color: var(--midnight-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 101%);
}

.button-bg.white {
  background-color: var(--white);
}

.button-text {
  z-index: 1;
  color: #000;
  position: relative;
}

.button-text:hover {
  font-weight: 500;
}

.bg-overlay {
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: var(--midnight-blue);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 101%);
}

.abstract-line-5 {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.copyright-text {
  color: #9a9db5;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  transition: color .5s cubic-bezier(.165, .84, .44, 1);
  position: relative;
  overflow: hidden;
}

.copyright-text:hover {
  color: #000;
  font-weight: 500;
}

.border-bottom {
  width: 100%;
  height: 2px;
  background-color: var(--midnight-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-101%);
}

.nav-menu-wrapper {
  display: flex;
}

.slider-right {
  border-radius: 45px 0 45px 45px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding: 20px 36px;
  display: flex;
  box-shadow: 1px 1px 55px rgba(0, 22, 50, .08);
}

.slider-left {
  min-height: 45px;
  border-radius: 45px 0 45px 45px;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  padding: 15px 36px;
  display: flex;
  box-shadow: 1px 1px 45px rgba(0, 22, 50, .1);
}

.fn-button-wrapper {
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: auto auto;
  grid-auto-columns: 1fr;
  display: grid;
}

.fn-cover-image {
  width: 100%;
  height: 100%;
  color: #320000;
  -webkit-text-stroke-color: #320000;
  object-fit: cover;
}

.fh-features-image-wrapper {
  width: 100%;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
}

.fn-featured-tabs-content-wrapper {
  width: 100%;
}

.fn-featured-tabs-content {
  width: 60%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 15px;
}

.fn-tabs-paragraph {
  color: #000;
  flex: none;
  overflow: hidden;
}

.fn-tabs-link-title {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: #cdd3d2;
  align-items: center;
  display: flex;
}

.fn-tabs-link {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #939b9b;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  transition: opacity .25s;
  display: flex;
}

.fn-tabs-link:hover {
  opacity: .8;
  color: #939b9b;
}

.fn-tabs-link.w--current {
  background-color: #fff;
}

.fn-featured-tabs-menu {
  flex-direction: column;
  display: flex;
}

.fn-featured-tabs {
  width: 100%;
  margin-bottom: 32px;
  position: static;
}

.fn-paragraph {
  color: #0d102b;
  -webkit-text-stroke-color: #000;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-heading-2 {
  color: var(--black);
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.fn-column {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.fn-container-grid {
  width: 100%;
  max-width: 1310px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.fn-container-grid.relative {
  font-family: Montserrat, sans-serif;
  position: relative;
}

.fn-section {
  width: 100%;
  color: #ecf0ef;
  background-color: #f6f6f6;
  background-image: linear-gradient(#fff, rgba(255, 255, 255, 0) 8%);
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Open Sans, sans-serif;
  display: none;
}

.text-block {
  color: #0d102b;
}

.bold-text-2 {
  color: #0d102b;
  -webkit-text-stroke-color: var(--black);
}

.html-embed-2 {
  display: none;
}

.image-13 {
  filter: invert();
}

.fn-column-2 {
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  display: flex;
}

.fn-faq-arrow {
  width: 12px;
  height: 8px;
  color: #a91717;
  align-items: center;
  margin-top: 2px;
  display: flex;
}

.faq-link-text {
  color: #a91717;
}

.fn-show-more {
  height: 20px;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  display: flex;
  overflow: hidden;
}

.fn-faq-link-wrapper {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  color: #515bb4;
  cursor: pointer;
  align-items: center;
  margin-top: 16px;
  font-weight: 700;
  text-decoration: none;
  display: flex;
}

.fn-paragraph-no-margin {
  width: 90%;
  color: #0f1213;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  overflow: hidden;
}

.fn-faq-line {
  width: 100%;
  height: 1px;
  background-color: #687373;
  margin-bottom: 16px;
}

.fn-heading-4 {
  color: #fff;
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3em;
}

.fn-faq-dark-wrapper {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #f5f5f5;
  border-radius: 16px;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.fn-heading-5 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.fn-container-grid-2 {
  width: 100%;
  max-width: 1310px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  padding-left: 0;
  padding-right: 0;
  display: flex;
}

.fn-section-2 {
  width: 100%;
  color: #ecf0ef;
  background-color: rgba(255, 255, 255, 0);
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Open Sans, sans-serif;
  display: flex;
  position: relative;
}

.fn-error-message {
  text-align: center;
  background-color: #c33939;
  border-radius: 8px;
  margin-top: 24px;
}

.fn-success-message-wrapper {
  min-height: 200px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.fn-success-message {
  width: 100%;
  color: #0f1213;
  background-color: #df0;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.3em;
}

.fn-field-message {
  width: 100%;
  max-height: 160px;
  max-width: 100%;
  min-height: 160px;
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  margin-bottom: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16px;
  line-height: 1em;
}

.fn-field-message:hover {
  border-color: #cdd3d2;
}

.fn-field-message:active {
  border-color: #df0;
}

.fn-field-message:focus {
  border-color: #757575;
}

.fn-field-message::-ms-input-placeholder {
  color: #ecf0ef;
}

.fn-field-message::placeholder {
  color: #ecf0ef;
}

.fn-field {
  width: 100%;
  max-width: 100%;
  min-height: 42px;
  color: #000;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 10px;
  margin-bottom: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1em;
  transition: border-color .25s;
}

.fn-field:hover {
  border-color: #cdd3d2;
}

.fn-field:active {
  border-color: #a3a3a3;
}

.fn-field:focus {
  border-color: #6b6b6b;
}

.fn-field::-ms-input-placeholder {
  color: #ecf0ef;
}

.fn-field::placeholder {
  color: #ecf0ef;
}

.fn-form-standard {
  flex-direction: column;
  display: flex;
}

.fn-form {
  flex-direction: column;
  align-items: stretch;
  margin-top: 0;
  display: flex;
}

.fn-heading-6 {
  color: #0f1213;
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Open Sans, sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.fn-label-small {
  color: #0f1213;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1em;
}

.fn-column-center {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.bold-text-3, .bold-text-4, .bold-text-5, .bold-text-6 {
  color: #0f1213;
}

.submit-button {
  background-color: #a91717;
  border-radius: 6px;
  font-weight: 700;
}

.abstract-line-6-copy {
  z-index: -2;
  position: absolute;
  top: 158px;
  left: -144px;
}

.abstract-line-6-copy-copy {
  z-index: -2;
  position: absolute;
  top: 50%;
  bottom: auto;
  left: auto;
  right: -8%;
  transform: rotate(55deg);
}

.abstract-line-7-copy {
  z-index: -2;
  width: 100%;
  max-width: 508px;
  position: absolute;
  top: auto;
  bottom: -7%;
  left: 23%;
  right: auto;
}

.a-header-grid-image {
  z-index: 999;
  width: 130%;
  max-width: 120%;
  border-radius: 8px;
  margin-top: -55px;
  margin-left: 20px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -17%;
  right: 0%;
  overflow: hidden;
}

.a-header-image-block {
  width: 100%;
  height: 90%;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.a-header-button-wrapper {
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  margin-top: 24px;
  margin-bottom: 16px;
  display: flex;
}

.a-paragraph-regular {
  letter-spacing: -.02em;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.8;
}

.a-span-underline {
  border-bottom: 6px none var(--alley-component-library-blue--900);
  opacity: 1;
  direction: ltr;
  color: #a91717;
  -webkit-text-stroke-color: #e14b3a;
  border-radius: 0;
  font-style: normal;
  text-decoration: none;
}

.a-h1-heading {
  color: var(--alley-component-library-gray--900);
  letter-spacing: -.04em;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 61px;
  line-height: 1.2;
}

.a-margin-bottom-48 {
  margin-bottom: 48px;
}

.a-header-content {
  max-width: 500px;
  color: var(--alley-component-library-gray--700);
}

.a-header-block {
  max-width: 50%;
  flex-direction: column;
  justify-content: space-between;
  display: flex;
}

.a-container-regular {
  width: 100%;
  max-width: 1140px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.a-header-section {
  padding: 120px 5%;
  position: relative;
  overflow: hidden;
}

.secondary-button-2 {
  color: #0d102b;
  border: 1px solid #131737;
  align-items: center;
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-decoration: none;
  display: flex;
  position: relative;
  overflow: hidden;
}

.secondary-button-2.hide-mobile {
  border-radius: 14px;
}

.secondary-button-2.hide-mobile:hover {
  color: #fff;
}

.button-bg-2 {
  width: 100%;
  height: 100%;
  background-color: #0d102b;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(0, 101%);
}

.a-header-grid-image-copy {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  transform: rotate(33deg);
}

.image-14 {
  z-index: -9;
  position: absolute;
  top: 26%;
  bottom: auto;
  left: 1%;
  right: auto;
}

.container-4 {
  background-color: rgba(0, 0, 0, 0);
}

.body-2 {
  background-color: rgba(255, 255, 255, 0);
  font-family: Montserrat, sans-serif;
}

.image-14-copy {
  z-index: -9;
  position: absolute;
  top: auto;
  bottom: 15%;
  left: auto;
  right: 1%;
}

.a-header-section-copy {
  flex-direction: row;
  padding: 120px 5%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.a-header-image-block-copy {
  width: 100%;
  height: 90%;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.a-header-grid-image-copy {
  z-index: 999;
  width: 120%;
  max-width: 120%;
  border-radius: 8px;
  margin-top: 39px;
  margin-bottom: 18px;
  margin-left: 20px;
  padding-left: 0;
  position: absolute;
  top: 17%;
  bottom: auto;
  left: -5%;
  right: auto;
  overflow: hidden;
  transform: none;
}

.a-container-regular-copy {
  width: 100%;
  max-width: 1140px;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.d {
  z-index: -9;
  position: absolute;
  top: 15%;
  bottom: auto;
  left: 1%;
  right: auto;
}

.a-header-section-copy-copy {
  flex-direction: row;
  padding: 120px 5%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.a-container-regular-copy {
  width: 100%;
  max-width: 1140px;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.a-header-image-block-copy-copy {
  width: 100%;
  height: 90%;
  max-width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  display: block;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.a-header-grid-image-copy-copy {
  z-index: 999;
  width: 100%;
  max-width: 100%;
  border-radius: 8px;
  margin-top: 62px;
  position: absolute;
  top: 17%;
  bottom: auto;
  left: -5%;
  right: auto;
  overflow: hidden;
  transform: none;
}

.div-block {
  align-items: center;
  margin-right: 100px;
  display: flex;
}

.div-block-2 {
  align-items: center;
  display: flex;
}

.div-block-3 {
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.image-15 {
  width: auto;
  max-width: none;
  margin-right: 10px;
}

.image-16 {
  width: auto;
  margin-right: 10px;
}

.text-block-2, .text-block-3 {
  color: #131331;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.a-testimonial-slide {
  border-radius: 10px;
  margin-right: 40px;
}

.image-17 {
  color: #320000;
  -webkit-text-stroke-color: #320000;
  object-fit: cover;
  border-radius: 20px;
}

.bold-text-7 {
  width: 90%;
  color: #2a2a2a;
  text-align: left;
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 50px;
  display: block;
}

.bold-text-8 {
  -webkit-text-stroke-color: var(--black);
}

.text-block-4 {
  color: #000;
}

.bold-text-9 {
  -webkit-text-stroke-color: var(--black);
}

.text-block-5 {
  -webkit-text-stroke-color: #000;
}

.bold-text-10 {
  -webkit-text-stroke-color: var(--black);
}

.image-18 {
  color: #fff;
}

.bold-text-11 {
  -webkit-text-stroke-color: var(--black);
}

.fn-link-arrow {
  width: 12px;
  height: 18px;
  object-fit: contain;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  display: flex;
}

.fn-link-with-arrow-classic {
  color: #fff;
  -webkit-text-stroke-color: #fff;
  align-items: center;
  margin-top: 0;
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4em;
  text-decoration: underline;
  display: flex;
}

.fn-404-image-third {
  width: 120px;
  height: 120px;
  object-fit: contain;
  position: absolute;
  top: auto;
  bottom: -55%;
  left: 20%;
  right: auto;
}

.fn-404-image-second {
  width: 250px;
  height: 250px;
  object-fit: contain;
  position: absolute;
  top: -56%;
  bottom: auto;
  left: -5%;
  right: auto;
  overflow: auto;
}

.fn-404-image-first {
  width: 411px;
  height: 405px;
  object-fit: contain;
  position: absolute;
  top: -80%;
  bottom: auto;
  left: auto;
  right: -10%;
}

.fn-paragraph-4 {
  color: #fff;
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-heading-jambo {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  font-size: 88px;
  font-weight: 600;
  line-height: 1.1em;
}

.fn-column-center-2 {
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.fn-container-grid-4 {
  width: 100%;
  max-width: 1310px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.fn-container-grid-4.relative {
  position: relative;
}

.fn-section-404 {
  width: 100%;
  min-height: 50vh;
  color: #ecf0ef;
  background-color: #1d1f1e;
  background-image: linear-gradient(121deg, #a26161, #1f1919);
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-family: Open Sans, sans-serif;
  display: flex;
  overflow: hidden;
}

.div-block-4 {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  display: flex;
}

.div-block-5 {
  width: 100%;
  height: 500px;
  background-image: url('../images/Firefly-White-painted-corridor-85205.jpg');
  background-position: 50%;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.div-block-5.serviceeen {
  background-image: linear-gradient(to bottom, var(--alley-component-library-neutral--black), rgba(255, 255, 255, 0)), url('../images/Firefly-White-painted-corridor-85205.jpg');
  color: #000;
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-5.serviceeen:hover {
  background-image: linear-gradient(#000, rgba(255, 255, 255, 0)), url('../images/Firefly-White-painted-corridor-85205.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-5.servicetwee {
  background-image: linear-gradient(to bottom, var(--alley-component-library-neutral--black), rgba(255, 255, 255, 0)), url('../images/Image2.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-5.servicedrie {
  background-image: linear-gradient(to bottom, var(--alley-component-library-neutral--black), rgba(255, 255, 255, 0)), url('../images/schildertechnieken.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.div-block-5.servicevier {
  background-image: linear-gradient(to bottom, var(--alley-component-library-neutral--black), rgba(255, 255, 255, 0)), url('../images/Facade.jpg');
  background-position: 0 0, 50%;
  background-size: auto, cover;
}

.image-19 {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 0 0;
  background-size: auto;
  position: static;
}

.text-block-6 {
  color: #fff;
  font-weight: 700;
  position: absolute;
}

.div-block-6 {
  display: flex;
}

.gallery-row {
  grid-column-gap: 30px;
  grid-row-gap: 16px;
  flex-direction: row-reverse;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 0;
  display: flex;
  transform: translate(0, -68px);
}

.gallery-row.gallery-row-3 {
  flex-direction: row;
  justify-content: space-between;
}

.heading {
  justify-content: flex-start;
  display: flex;
  position: relative;
}

.bold-text-7-copy {
  width: auto;
  color: #2a2a2a;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 50px;
  display: block;
  position: relative;
}

.rte-label {
  color: #000;
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 13.5px;
  font-weight: 600;
  line-height: 15px;
}

.clone-wrap {
  width: auto;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-red {
  color: #ff0004;
}

.scrollbar {
  max-height: 600px;
  padding: 30px;
  overflow: auto;
}

.input {
  height: 48px;
  color: #000;
  background-color: #fff;
  border: 1px solid #b7bbd1;
  border-radius: 6px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-left: 18px;
  font-size: 15px;
  font-weight: 300;
  transition: border-color .2s, box-shadow .2s;
  box-shadow: 0 3px 6px -2px rgba(29, 1, 80, .1);
}

.input:hover {
  box-shadow: none;
  border-color: #434de7;
}

.input:focus {
  border: 1px solid #434de7;
}

.input::-ms-input-placeholder {
  color: #6e6e6e;
}

.input::placeholder {
  color: #6e6e6e;
}

.job_sticky-card {
  border: 1px solid #f2f3ff;
  border-radius: 15px;
  padding: 35px 30px;
}

.custom-scrollbar {
  display: none;
}

.form-separator {
  width: 100%;
  height: 1px;
  background-color: #f2f3ff;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-row {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.popup-wrap {
  width: 100%;
  max-width: 680px;
  background-color: #fff;
  border-radius: 15px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.button {
  height: 50px;
  color: #fff;
  background-color: #434de7;
  border-radius: 10px;
  padding: 15px 35px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 10px 20px -3px rgba(29, 1, 80, .1);
}

.button:hover {
  box-shadow: none;
  background-color: #000;
}

.button.in-form {
  width: 100%;
  height: 52px;
  margin-top: 0;
  margin-left: 0;
}

.message_success {
  color: #fff;
  background-color: #434de7;
  border-radius: 10px;
  font-weight: 600;
}

.form-border {
  width: auto;
  max-width: none;
  min-width: 400px;
  background-color: #fff;
  border: 1px solid #f2f3ff;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 30px;
  display: flex;
  box-shadow: 0 20px 30px -10px rgba(29, 1, 80, .1);
}

.paragraph {
  opacity: .9;
  color: #000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.input-wrapper {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 12px;
  display: flex;
  position: relative;
}

.input-wrapper.mr-15 {
  margin-right: 15px;
}

.spacer-15 {
  width: 100%;
  height: 15px;
}

.h4 {
  color: #000;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 22px;
  font-weight: 600;
}

.h3 {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 600;
}

.popup {
  z-index: 9999;
  opacity: 1;
  background-color: rgba(0, 0, 0, .4);
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  display: none;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.input-label {
  z-index: 2;
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  margin-bottom: 0;
  padding-left: 6px;
  padding-right: 7px;
  font-size: 13.5px;
  font-weight: 600;
  line-height: 15px;
  display: inline-block;
  position: relative;
  bottom: -7px;
  left: 6px;
}

.form_100w {
  width: 100%;
}

.spacer-20 {
  width: 100%;
  height: 20px;
}

.spacer-30 {
  width: 100%;
  height: 30px;
}

.popup-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 13%;
  bottom: auto;
  left: auto;
  right: 15%;
}

.spacer-10 {
  width: 100%;
  height: 10px;
}

.div-block-7 {
  justify-content: center;
  align-items: center;
  display: flex;
}

.text-block-7 {
  font-size: 15px;
}

.div-block-8 {
  color: #000;
  cursor: pointer;
  background-color: #e0e0e0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-right: 20px;
  text-decoration: none;
  transition: all .4s;
}

.div-block-8:hover {
  color: #fff;
  background-color: #464646;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.div-block-8.popupdiv {
  margin-right: 0;
}

.image-20 {
  width: 100%;
  max-width: none;
  object-fit: cover;
}

.heading-2 {
  color: #000;
  margin-top: 0;
  padding-top: 10px;
  padding-left: 20px;
}

.text-block-8 {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 17px;
  text-decoration: none;
}

.div-block-9 {
  display: flex;
}

.link-block {
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .nav-container {
    color: #fff;
    grid-template-columns: 1fr auto auto;
    display: flex;
  }

  .nav-link {
    background-color: #5c5c5c;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .nav-link:hover {
    background-color: #0e0e0e;
    border-radius: 20px;
  }

  .nav-link.w--current {
    background-color: #5c5c5c;
    transition-duration: .4s, .2s;
  }

  .nav-link.w--current:hover {
    background-color: #0e0e0e;
  }

  .hero {
    background-image: linear-gradient(to right, #000, rgba(255, 255, 255, 0) 100%, #fd2d2d), url('../images/Firefly-Paintworks-50900.jpg');
    padding-top: 60px;
  }

  .hero.prof {
    background-image: linear-gradient(to right, #000, rgba(255, 255, 255, 0) 100%, #fd2d2d), url('../images/AdobeStock_630302641.jpeg');
  }

  .hero-content {
    grid-template-rows: auto;
    grid-template-columns: 1fr;
  }

  .hero-left-wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    display: flex;
  }

  .hero-heading {
    text-align: center;
  }

  .hero-text {
    max-width: none;
    text-align: center;
  }

  .abstract-line-1 {
    width: 281px;
    height: 281px;
  }

  .gallery-row-1 {
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .description-wrapper {
    margin-top: 0;
  }

  .gallery-left-wrapper {
    padding-top: 300px;
  }

  .abstract-line-2 {
    top: 140px;
  }

  .footer-brand-image {
    margin-top: -33px;
  }

  .nav-menu-wrapper {
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
  }

  .nav-menu {
    color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, .05);
    display: block;
  }

  .menu-button {
    color: #fff;
    background-color: rgba(0, 0, 0, 0);
  }

  .menu-button.w--open {
    color: var(--white);
    background-color: rgba(0, 0, 0, 0);
  }

  .fn-button-wrapper {
    grid-template-columns: auto;
  }

  .fh-features-image-wrapper {
    height: 450px;
  }

  .fn-featured-tabs-content {
    width: 58%;
  }

  .fn-tabs-link {
    transition: none;
  }

  .fn-tabs-link:hover {
    opacity: 1;
  }

  .fn-heading-2 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .fn-container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding: 60px 20px;
  }

  .fn-heading-4 {
    font-size: 28px;
  }

  .fn-heading-5 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .fn-container-grid-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: relative;
  }

  .fn-section-2 {
    padding-top: 20px;
    padding-bottom: 60px;
  }

  .fn-heading-6 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .abstract-line-6-copy {
    width: 281px;
    height: 281px;
    top: 12px;
    left: -28px;
  }

  .abstract-line-6-copy-copy {
    width: 281px;
    height: 281px;
  }

  .abstract-line-7-copy {
    left: 15%;
  }

  .a-header-grid-image {
    width: 80%;
    max-width: 80%;
    margin-top: -62px;
    display: inline-block;
    position: static;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .a-header-image-block {
    height: 500px;
    max-width: 100%;
    align-items: center;
    margin-top: 0;
    display: flex;
    position: relative;
    right: auto;
  }

  .a-header-button-wrapper {
    justify-content: center;
  }

  .a-header-block {
    max-width: 100%;
    text-align: center;
    align-items: center;
    margin-bottom: 60px;
  }

  .a-container-regular {
    justify-content: center;
    align-items: center;
    margin-bottom: -160px;
  }

  .a-header-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    display: flex;
  }

  .image-14-copy {
    bottom: 11%;
    right: 33%;
  }

  .a-header-section-copy {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }

  .a-header-image-block-copy {
    height: 500px;
    max-width: 100%;
    align-items: center;
    margin-top: -6px;
    display: flex;
    position: relative;
  }

  .a-header-grid-image-copy {
    width: 60%;
    position: static;
  }

  .a-container-regular-copy {
    justify-content: center;
  }

  .a-header-section-copy-copy {
    flex-direction: column;
    padding-bottom: 0;
  }

  .a-header-image-block-copy-copy {
    height: auto;
    max-width: 100%;
    align-items: center;
    margin-top: 73px;
    display: flex;
    position: relative;
  }

  .a-header-grid-image-copy-copy {
    width: 60%;
    position: static;
  }

  .fn-404-image-first {
    width: 350px;
    height: 350px;
  }

  .fn-heading-jambo {
    font-size: 76px;
  }

  .fn-container-grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .fn-section-404 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .gallery-row {
    align-content: center;
    justify-content: center;
    justify-items: center;
  }

  .popup {
    display: none;
  }

  .popup-close {
    top: 5%;
    right: 5%;
  }
}

@media screen and (max-width: 767px) {
  .nav-container {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
  }

  .navbar {
    margin-top: 0;
  }

  .nav-link, .nav-link.w--current {
    background-color: #292929;
    margin-bottom: 10px;
  }

  .hero {
    padding-top: 40px;
  }

  .container {
    padding-left: 24px;
    padding-right: 24px;
  }

  .hero-left-wrapper {
    padding-top: 20px;
  }

  .gallery {
    padding-top: 40px;
  }

  .gallery-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .shape-wrapper {
    top: auto;
    bottom: 0;
    right: 0;
  }

  .abstract-line-1 {
    width: 181px;
    height: 181px;
    top: -7%;
    bottom: 0%;
    left: auto;
    right: 31%;
  }

  .gallery-heading {
    font-size: 64px;
    line-height: 65px;
    transform: translate(0, 86px);
  }

  .gallery-row-1 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-direction: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .description-wrapper {
    text-align: center;
    align-items: center;
    margin-top: 0;
  }

  .gallery-row-2 {
    grid-template-columns: 1fr;
    padding-top: 0;
    padding-bottom: 40px;
  }

  .gallery-left-wrapper {
    margin-bottom: 80px;
    padding-top: 200px;
    padding-bottom: 60px;
  }

  .gallery-wrapper._1 {
    margin-bottom: 50px;
  }

  .gallery-wrapper._2 {
    align-self: flex-start;
    margin-bottom: 50px;
  }

  .gallery-right-wrapper {
    padding-top: 60px;
  }

  .abstract-line-2 {
    top: 0;
  }

  .footer {
    padding-top: 60px;
  }

  .footer-wrapper {
    grid-template-columns: 1fr 1fr;
    display: flex;
  }

  .abstract-line-5 {
    display: none;
  }

  .nav-menu-wrapper {
    background-color: rgba(255, 255, 255, .14);
    flex-flow: column;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
  }

  .fh-features-image-wrapper {
    height: 350px;
  }

  .fn-featured-tabs-content {
    width: 100%;
    margin-top: 12px;
    position: static;
  }

  .fn-paragraph {
    margin-bottom: 24px;
  }

  .fn-heading-2 {
    font-size: 34px;
  }

  .fn-column.tabs-992 {
    align-items: center;
  }

  .fn-container-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .fn-heading-4 {
    font-size: 24px;
  }

  .fn-heading-5 {
    font-size: 34px;
  }

  .fn-container-grid-2 {
    width: 95%;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fn-section-2 {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .fn-heading-6 {
    font-size: 34px;
  }

  .fn-label-small {
    margin-bottom: 12px;
  }

  .abstract-line-6-copy, .abstract-line-6-copy-copy {
    width: 181px;
    height: 181px;
  }

  .abstract-line-7-copy {
    top: auto;
    bottom: -10%;
    left: 6%;
    right: auto;
  }

  .a-h1-heading {
    font-size: 48px;
  }

  .a-header-section {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .image-14 {
    top: 10%;
  }

  .image-14-copy {
    bottom: 11%;
    right: 27%;
  }

  .a-header-section-copy, .a-header-section-copy-copy {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  .fn-404-image-third {
    width: 80px;
    height: 80px;
  }

  .fn-404-image-second {
    width: 150px;
    height: 150px;
    top: -82%;
    left: 9%;
  }

  .fn-404-image-first {
    width: 150px;
    height: 150px;
    top: -101%;
    right: 6%;
  }

  .fn-paragraph-4 {
    margin-bottom: 24px;
  }

  .fn-heading-jambo {
    margin-bottom: 12px;
    font-size: 54px;
  }

  .fn-container-grid-4 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fn-section-404 {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .div-block-4 {
    flex-direction: column;
  }

  .gallery-row {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-direction: column-reverse;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
  }

  .scrollbar {
    padding-bottom: 20px;
    padding-right: 10px;
  }

  .popup-wrap {
    padding-left: 0;
  }

  .popup {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-8 {
    margin-bottom: 20px;
  }

  .div-block-9 {
    flex-direction: column;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size: 42px;
    line-height: 54px;
  }

  .nav-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero {
    padding-top: 20px;
  }

  .container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero-content {
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    display: flex;
  }

  .hero-left-wrapper {
    justify-content: center;
    align-items: center;
  }

  .hero-heading {
    margin-bottom: 30px;
    font-size: 2rem;
  }

  .hero-image {
    margin-top: 25px;
    padding-left: 0;
  }

  .hero-text {
    margin-bottom: 30px;
  }

  .gallery {
    padding-top: 20px;
  }

  .gallery-header {
    justify-content: center;
    padding-bottom: 0;
    display: flex;
  }

  .gallery-heading {
    font-size: 44px;
    line-height: 45px;
  }

  .gallery-row-1 {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .gallery-text {
    font-size: 15px;
  }

  .gallery-row-2 {
    padding-bottom: 41px;
  }

  .gallery-left-wrapper {
    padding-top: 120px;
    padding-bottom: 0;
  }

  .abstract-line-2 {
    top: 0;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .footer-wrapper {
    flex-direction: column;
    grid-template-columns: 1fr;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 39px;
  }

  .footer-copyright {
    grid-column-gap: 16px;
    grid-row-gap: 18px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    display: grid;
  }

  .abstract-line-5 {
    width: 179px;
    top: -100px;
  }

  .fn-button-wrapper {
    width: 100%;
  }

  .fh-features-image-wrapper {
    height: 220px;
  }

  .fn-column-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .fn-faq-dark-wrapper {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
  }

  .fn-container-grid-2 {
    width: 95%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
  }

  .fn-form {
    padding-left: 10px;
    padding-right: 10px;
  }

  .abstract-line-7-copy {
    top: auto;
    bottom: -4%;
    left: auto;
    right: 0%;
  }

  .a-header-image-block {
    height: 320px;
  }

  .a-header-button-wrapper {
    flex-direction: column;
  }

  .a-h1-heading {
    font-size: 2rem;
  }

  .a-header-section {
    align-items: center;
  }

  .secondary-button-2.hide-mobile {
    display: none;
  }

  .image-14 {
    margin-top: -22px;
  }

  .image-14-copy {
    right: 6%;
  }

  .a-header-image-block-copy {
    height: 320px;
    margin-top: 55px;
  }

  .a-header-grid-image-copy {
    width: 80%;
  }

  .a-container-regular-copy {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  .d {
    margin-top: 83px;
    padding-left: 0;
  }

  .a-header-image-block-copy-copy {
    height: 320px;
  }

  .a-header-grid-image-copy-copy {
    width: 100%;
  }

  .div-block {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .div-block-2 {
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  .div-block-3 {
    flex-direction: column;
    align-items: center;
  }

  .bold-text-7 {
    font-size: 2rem;
  }

  .text-block-5 {
    text-align: left;
  }

  .fn-404-image-second {
    width: 120px;
    height: 120px;
    top: -76%;
  }

  .fn-404-image-first {
    width: 120px;
    height: 120px;
  }

  .text-block-6 {
    font-size: 10px;
  }

  .gallery-row {
    padding-bottom: 0;
  }

  .bold-text-7-copy {
    font-size: 2.5rem;
  }

  .scrollbar {
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: block;
  }

  .form-row {
    flex-direction: column;
  }

  .form-border {
    min-width: auto;
    padding: 20px;
  }

  .input-wrapper.mr-15 {
    margin-right: 0;
  }

  .h3 {
    font-size: 15px;
    display: none;
  }

  .popup-close {
    top: 30px;
    right: 30px;
  }

  .div-block-8 {
    margin-right: 0;
  }

  .div-block-9 {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    display: flex;
  }
}

#w-node-_363c13f9-dfdd-e64d-1031-e7eff4ae2c53-9240a502, #w-node-e98bf65e-152d-5f53-6065-6b4928cea242-9240a502, #w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcc8-9240a502 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd2-9240a502 {
  justify-self: center;
}

#w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd3-9240a502, #w-node-_99288522-6b22-437d-1ada-51608c496ab0-9240a502 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_99288522-6b22-437d-1ada-51608c496aba-9240a502 {
  justify-self: center;
}

#w-node-_99288522-6b22-437d-1ada-51608c496abb-9240a502 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c40e0a3a-862e-4323-c7f8-8be0a8d64816-9240a502 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: center;
}

#w-node-_8afa81ed-392f-c932-364e-1ff194bf19bf-94bf19bc {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_66782e3b-d6f3-6bce-d4df-589b0eccba13-adb32c51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_3202af12-ee19-7349-d6a0-e776cdf63334-9240a503 {
  grid-area: span 1 / span 4 / span 1 / span 4;
}

#w-node-_3202af12-ee19-7349-d6a0-e776cdf63339-9240a503 {
  grid-area: 2 / 7 / 4 / 13;
  align-self: start;
}

#w-node-_3202af12-ee19-7349-d6a0-e776cdf63361-9240a503 {
  grid-area: 2 / 1 / 3 / 7;
  align-self: start;
}

#w-node-_577dbfde-b4a3-d5d0-6294-ce4cef52b998-9240a503 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_577dbfde-b4a3-d5d0-6294-ce4cef52b9a1-9240a503 {
  grid-area: 2 / 4 / 3 / 10;
}

#w-node-e82f15eb-8039-04ed-c855-d2d518f63efe-9240a504 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-e82f15eb-8039-04ed-c855-d2d518f63f22-9240a504 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-ef3edff0-e0be-d612-2042-2020fc45f9f2-9240a504 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ef3edff0-e0be-d612-2042-2020fc45fa01-9240a504 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_7ac0ea2b-f1b8-90f6-cd53-b8d4e9e6390f-9240a504 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_7ac0ea2b-f1b8-90f6-cd53-b8d4e9e6391e-9240a504 {
  grid-area: span 1 / span 2 / span 1 / span 2;
}

#w-node-_6103d7fc-506e-16ca-ad84-3ea4ffcf9d9a-10278f99 {
  grid-area: 1 / 4 / 2 / 10;
}

#w-node-_6103d7fc-506e-16ca-ad84-3ea4ffcf9da3-10278f99, #w-node-_6103d7fc-506e-16ca-ad84-3ea4ffcf9da4-10278f99, #w-node-_6103d7fc-506e-16ca-ad84-3ea4ffcf9da5-10278f99, #w-node-_363c13f9-dfdd-e64d-1031-e7eff4ae2c53-c9174138, #w-node-e98bf65e-152d-5f53-6065-6b4928cea242-c9174138, #w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcc8-c9174138 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd2-c9174138 {
  justify-self: center;
}

#w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd3-c9174138, #w-node-_99288522-6b22-437d-1ada-51608c496ab0-c9174138 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_99288522-6b22-437d-1ada-51608c496aba-c9174138 {
  justify-self: center;
}

#w-node-_99288522-6b22-437d-1ada-51608c496abb-c9174138 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-c40e0a3a-862e-4323-c7f8-8be0a8d64816-c9174138 {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd2-9240a502, #w-node-_99288522-6b22-437d-1ada-51608c496aba-9240a502 {
    align-self: center;
    justify-self: center;
  }

  #w-node-c40e0a3a-862e-4323-c7f8-8be0a8d64816-9240a502 {
    grid-column: span 3 / span 3;
  }

  #w-node-_3202af12-ee19-7349-d6a0-e776cdf63334-9240a503 {
    grid-column: span 8 / span 8;
  }

  #w-node-_3202af12-ee19-7349-d6a0-e776cdf63339-9240a503, #w-node-_3202af12-ee19-7349-d6a0-e776cdf63361-9240a503 {
    grid-area: span 1 / span 8 / span 1 / span 8;
  }

  #w-node-_577dbfde-b4a3-d5d0-6294-ce4cef52b998-9240a503 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-_577dbfde-b4a3-d5d0-6294-ce4cef52b9a1-9240a503 {
    grid-area: 2 / 2 / 3 / 8;
  }

  #w-node-_6103d7fc-506e-16ca-ad84-3ea4ffcf9d9a-10278f99 {
    grid-area: 1 / 2 / 2 / 8;
  }

  #w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd2-c9174138, #w-node-_99288522-6b22-437d-1ada-51608c496aba-c9174138 {
    align-self: center;
    justify-self: center;
  }

  #w-node-c40e0a3a-862e-4323-c7f8-8be0a8d64816-c9174138 {
    grid-column: span 3 / span 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd2-9240a502, #w-node-_99288522-6b22-437d-1ada-51608c496aba-9240a502 {
    justify-self: start;
  }

  #w-node-c40e0a3a-862e-4323-c7f8-8be0a8d64816-9240a502 {
    grid-column: span 4 / span 4;
  }

  #w-node-_8afa81ed-392f-c932-364e-1ff194bf19bf-94bf19bc {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_3202af12-ee19-7349-d6a0-e776cdf63334-9240a503, #w-node-_3202af12-ee19-7349-d6a0-e776cdf63339-9240a503, #w-node-_3202af12-ee19-7349-d6a0-e776cdf63361-9240a503 {
    grid-column: span 4 / span 4;
  }

  #w-node-_577dbfde-b4a3-d5d0-6294-ce4cef52b998-9240a503, #w-node-_577dbfde-b4a3-d5d0-6294-ce4cef52b9a1-9240a503, #w-node-_6103d7fc-506e-16ca-ad84-3ea4ffcf9d9a-10278f99 {
    grid-area: span 1 / span 4 / span 1 / span 4;
  }

  #w-node-dd1f18b1-3ad6-2c95-a15e-dc6e9bbbfcd2-c9174138, #w-node-_99288522-6b22-437d-1ada-51608c496aba-c9174138 {
    justify-self: start;
  }

  #w-node-c40e0a3a-862e-4323-c7f8-8be0a8d64816-c9174138 {
    grid-column: span 4 / span 4;
  }
}


